* {
	box-sizing: border-box;
  font-family: 'DM Sans', 'Inter', sans-serif;
}

:root {
	--primary-pink: #FFD4C4;
	--primary-purple: #4A4254;
	--neutral-black: #000;
	--neutral-white: #FFF;
	--background-color: #FFFDF6;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background-color, #FFFDF6);
	color: var(--neutral-black, #000);
	max-width: 60%; /* see FCC notes to improve mobile responsivity! */
	margin: 80px auto;
}

textarea {
	width: 100%;
	resize: vertical;
	background-color: var(--neutral-black, #000);
	opacity: 75%;
	color: var(--neutral-white, #FFF);
	border-radius: 5px;
}

.user {
	padding: 12px;
	border-radius: 5px;
	background: var(--primary-pink, #FFD4C4);
	color: var(--neutral-black, #000);
}

.user:before {
	content: 'You: ';
	font-weight: 900;
}

.troll {
	padding: 12px;
	border-radius: 5px;
	background: var(--primary-purple, #4A4254);
	color: var(--neutral-white, #FFF);
}

.troll:before {
	content: 'Troll: ';
	font-weight: 900;
}

.narrator:before {
	content: 'Narrator: ';
	font-weight: 900;
}

.restart {
	padding: 8px;
	background-color: var(--primary-pink, #FFD4C4);
	color: var(--neutral-black, #000);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.continue {
	padding: 8px;
	color: var(--neutral-black, #000);
	background: none;
	border-radius: 5px;
	border: 1px solid var(--primary-pink, #FFD4C4);
	margin: -12px 12px 0px 12px;
	cursor: pointer;
}